@import "tailwindcss";
@plugin "daisyui" {
    themes : night
};

.bg-page {
  background-image: url('assets/background.jpg');
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;         
}
